data-streaming-pipeline/node-red-consumer.json
[
  {
      "id": "431b5696fa6fd81e",
      "type": "tab",
      "label": "Flow 11",
      "disabled": false,
      "info": "",
      "env": []
  },
  {
      "id": "e0e1cb4356e3a8a1",
      "type": "kafkajs-consumer",
      "z": "431b5696fa6fd81e",
      "d": true,
      "name": "kafka weather consumer",
      "client": "68f214e042caa16c",
      "groupid": "weather-client",
      "topic": "weather-data-transformed",
      "advancedoptions": false,
      "autocommitinterval": 5000,
      "autocommitthreshold": 100,
      "sessiontimeout": 30000,
      "rebalancetimeout": 60000,
      "heartbeatinterval": 3000,
      "metadatamaxage": 300000,
      "maxbytesperpartition": 1048576,
      "minbytes": 1,
      "maxbytes": 10485760,
      "maxwaittimeinms": 5000,
      "frombeginning": false,
      "clearoffsets": false,
      "allowautotopiccreation": false,
      "x": 110,
      "y": 220,
      "wires": [
          [
              "d0f65cdf9fe02734",
              "a6a0f4f70d12191a"
          ]
      ]
  },
  {
      "id": "d0f65cdf9fe02734",
      "type": "debug",
      "z": "431b5696fa6fd81e",
      "name": "debug 8",
      "active": true,
      "tosidebar": true,
      "console": false,
      "tostatus": false,
      "complete": "payload",
      "targetType": "msg",
      "statusVal": "",
      "statusType": "auto",
      "x": 560,
      "y": 100,
      "wires": []
  },
  {
      "id": "a6a0f4f70d12191a",
      "type": "function",
      "z": "431b5696fa6fd81e",
      "name": "Format Weather Data",
      "func": "// Parse the JSON from the 'value' field\nlet weatherData = JSON.parse(msg.payload.value);\n\n// Prepare the chart data format\n/*msg.payload = {\n    \"series\": [\"Temperature\"],\n    \"data\": [\n        [\n            { \"x\": new Date().toISOString(), \"y\": parseFloat(weatherData.temperature) }  // Using temperature as y value\n        ]\n    ],\n    \"labels\": [\"\"]\n};*/\n\n// Log to check the structure\nnode.warn(msg.payload);\n\n// Return the message\nmsg.payload = parseFloat(weatherData.temperature)\nreturn msg;\n",
      "outputs": 1,
      "timeout": "",
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "libs": [],
      "x": 500,
      "y": 240,
      "wires": [
          [
              "d0f65cdf9fe02734",
              "cfd17e10c75a5172"
          ]
      ]
  },
  {
      "id": "cfd17e10c75a5172",
      "type": "ui_chart",
      "z": "431b5696fa6fd81e",
      "name": "Temperature",
      "group": "022fdd8f51690f45",
      "order": 0,
      "width": "24",
      "height": "12",
      "label": "{{msg.topic}}: {{msg.payload[0].data[0][0].y}}°C",
      "chartType": "line",
      "legend": false,
      "xformat": "HH:mm:ss",
      "interpolate": "linear",
      "nodata": "",
      "dot": false,
      "ymin": "0",
      "ymax": "50",
      "removeOlder": "1",
      "removeOlderPoints": "",
      "removeOlderUnit": "3600",
      "cutout": 0,
      "useOneColor": true,
      "useUTC": false,
      "colors": [
          "#ff5722",
          "#000000",
          "#000000",
          "#000000",
          "#000000",
          "#000000",
          "#000000",
          "#000000",
          "#000000"
      ],
      "outputs": 1,
      "useDifferentColor": false,
      "className": "",
      "x": 750,
      "y": 320,
      "wires": [
          []
      ]
  },
  {
      "id": "68f214e042caa16c",
      "type": "kafkajs-client",
      "name": "weather",
      "brokers": "weather_kafka:9092",
      "clientid": "weather-client",
      "connectiontimeout": 3000,
      "requesttimeout": 25000,
      "advancedretry": false,
      "maxretrytime": 30000,
      "initialretrytime": 300,
      "factor": 0.2,
      "multiplier": 2,
      "retries": 5,
      "auth": "none",
      "tlsselfsign": false,
      "tlscacert": "",
      "tlsclientcert": "",
      "tlsprivatekey": "",
      "tlspassphrase": "",
      "saslssl": true,
      "saslmechanism": "plain",
      "loglevel": "error"
  },
  {
      "id": "022fdd8f51690f45",
      "type": "ui_group",
      "name": "fullscreen",
      "tab": "96db9343696863d1",
      "order": 1,
      "disp": true,
      "width": "24",
      "collapse": true,
      "className": "",
      "info": "{\r\n  \"id\": \"fullscreen-weather-group\",\r\n  \"title\": \"\",  // Empty title for maximum space\r\n  \"order\": 1,   // Ensures it appears first\r\n  \"width\": 24,  // Full width (24 columns)\r\n  \"height\": 12, // Full height (12 rows)\r\n  \"collapsed\": false,\r\n  \"sizes\": [12], // Full-height row\r\n  \"style\": \"background-color: rgba(0,0,0,0);\", // Transparent background\r\n  \"className\": \"no-header\" // Hides group header completely\r\n}"
  },
  {
      "id": "96db9343696863d1",
      "type": "ui_tab",
      "name": "weather",
      "icon": "dashboard",
      "disabled": false,
      "hidden": false
  }
]